*{
    margin:0px;
          text-decoration: none;

padding:0px
}

h1 {
    color: rgb(51, 22, 22);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;

}

body {
    background-color: black;

}

.container {
    display: flex;
}

#div1,
#div2,
#div3 {
    width: 250px;
    height: 200px;
    margin-left: 150px;
    margin-top: 150px;
    border-radius: 20px 50px;
    background-color: rgb(30, 51, 189);
    border-width: 10px;


}


nav {
    background-color: rgb(193, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 70px;
 position: fixed;
 width: 1550px;

 &&:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
 }

}
a{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
a:hover{
color:aliceblue;    
}



#div1 {
    overflow: hidden;
        transition: all 0.2s ease-in;

}
#div1:hover{
    transform: scale(1.05);
box-shadow: 5px 4px 10px red;}

#div2 {
    overflow: hidden;
        transition: all 0.2s ease-in;
}

#div2:hover{
    transform: scale(1.05);
box-shadow: 10px 10px 20px rgb(204, 207, 250);}

#div3 { 
      overflow: hidden;
}

#div1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#div3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    color: aliceblue;
    text-align: center;
    font-size: 50px;;
    margin-top: 100px;
    background-color: rgb(47, 186, 224);
}

